:root { 
    /* CSS variables*/ 
    --iconColor: #1B4272;
    --importantButton: #019AFF;
    --importantButtonHover: #007dd0;
    --whiteSpace: 20%;
    --paddingSpace: 2em;
    --border: solid 0.1em #E6E6E6;
    --roboto: 
        -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', 
        Roboto, 
        Oxygen, 
        Ubuntu, 
        Cantarell, 
        'Open Sans', 
        'Helvetica Neue', 
        sans-serif;
    --boxShading:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*GENERAL CSS */
* {
    margin: 0;
    padding: 0;
    font-family: var(--roboto); 
}

a {
    text-decoration: none;
    color: black;
}

#login a {
    color: white;
}
/*customises any text classed as "important button" a bright blue background and hover effects. only works on text.*/
.important-button {
    background-color: var(--importantButton);
    border-radius: 0.6em;
    transition: background-color 0.5s ease;
    color: white;
}

.important-button:hover {
    background-color: var(--importantButtonHover);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Grid CSS for any container classed as an image library (e.g: library in explore.html*/
.image-library {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    overflow: scroll;
}

.image-library img {
    height: 10em;
    border-radius: 0.3em;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.image-library img:hover {
    opacity: 0.4;
}

/*customise "make post" icon*/
.fa-circle-plus {
    color: var(--importantButton);
    transition: color 0.5s ease;
}

.fa-circle-plus:hover {
    color: var(--importantButtonHover);
}

/*Apply border effects and width to any item that has content in it*/
.content-item {
    border-radius: 0.5em;
    border: var(--border);
    padding: var(--paddingSpace);
    width: 100%;
    box-shadow: var(--boxShading);
}

/* NAVBAR CSS */
.navbar { 
    height: 3em;
    display: inline-flex;
    width: 100%;
    border-bottom: var(--border);
    justify-content: space-between;
    margin-bottom: var(--paddingSpace);
}

.navbarlogo {
    height: 3em;
    padding: 0 0.1em;
}

/* format, size, and color the navbar icons*/
li {
    padding: 1.2em 2em;
    display: inline-flex;
}

.fa-li, .fa-gears {
    color: var(--iconColor);
    transition: color 0.5s ease;
    justify-content: center;
}

.fa-li:hover {
    color: var(--importantButtonHover);
}

/* underline the icon of the current page */
#icon-of-page {
    border-bottom: var(--iconColor) solid 0.1em;
}
/*  */
.navbar span {
    padding-bottom: 1em;
}
/*apply dimeensions for login button*/
#login {
    padding: 0.6em 1em;
    margin: auto 0.5em auto 0;
}

/*HOMEPAGE CSS*/
/*Flex the settings box to the rest of the Homepage*/
#home-body-content {               
    margin: auto var(--whiteSpace);
    display: flex;
    justify-content: center;
}

/*format "mini profile", "suggest" and "post" boxes into a grid*/
#home-grid {
    margin-right: 4em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20% 45%;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    height: 82em;
}

/*mini profile box general CSS*/
.mini-profile-box {                
    display: inline-flex;
    padding: var(--paddingSpace);
    text-align: center;
    min-width: 30em;
    border: var(--border);
    border-radius: 0.5em;
    box-shadow: var(--boxShading);
    justify-content: space-around;
}

/*center all items on y axis*/
.mini-profile-item {
    margin: auto 0;
}

/*format profile image in mini profile*/
.mini-profile-item img {
    border-radius: 100em;
    width: 10em;
    height: 10em;
    border: var(--border);
    margin: 0.5em;
}

/*format FontAwesome icons for mini profile*/
.fa-gears {
    font-size: 2em;
}

.fa-2xl {
    font-size: 5em;
    padding: 0.5em 0;
    margin: 0.1em;
}

/*POSTS GENERAL CSS*/
/*container for ".post"*/
.post-box {                          
    overflow: scroll;
    padding: 1em;
}

.post {
   border: var(--border);
   border-radius: 1em;
   margin: 0 auto 2em auto;
   padding: 1em;
   box-shadow: var(--boxShading);
}

/*format the top image and username of a post*/
.post-title {
    display: inline-flex;
}

.post-title h4 {
    margin: auto 0.4em;
}

.post-title img {
    width: 2em;
    height: 2em;
    border-radius: 100em;
}

/*set height of hero image*/
.post-hero-img {
    height: 25em;
    margin: 0.5em 0;
}

/*SETTINGS GENERAL CSS*/
#setting-items p {                  
    padding: 0.5em 0;
    transition: all 0.5 ease;
}

#setting-items p:hover {
    border-bottom: 0.05em solid black;
}

.setting-box {
    height: 40em;
    width: 30em;
    margin-right: 2em;
}

/*SETTINGS DROPDOWN CSS*/
/* The dropdown container */
.dropdown {                         
    float: left;
    overflow: hidden;
    display: none;
}

/* Dropdown button */
.dropdown .dropbtn {
    border: none;
    color: white;
    background-color: inherit;
}

/*format dropdown content container*/
.dropdown-content {
    display: none;
    border-radius: 1em;
    padding: var(--paddingSpace);
    box-shadow: var(--boxShading);
    position: absolute;
    background-color: white;
    width: 10em;
    height: fit-content;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*SUGGEST BOX GENERAL CSS*/
/*fit suggest box into two grid spaces, limit width*/
.suggest-box {                      
    grid-row: span 2;
    min-width: 15em;
    text-align: center;
}

/*make images in suggest box circular and central*/
.suggest-user img {
    height: 7em;
    width: 7em;
    border-radius: 100em;
    margin: 0.5em;
}

/*when the screen is < 76em, hide settings box on the left and show the setting dropdown menu*/
@media only screen and (max-width: 76em) {      
    .dropdown {
        display: block;
    }

    .setting-box {
        display: none;
    }
}

/*when the screen is < 60em, make the whole website vertical. centralise all objects.*/
@media only screen and (max-width: 60em) {
    #home-grid {
        display: block;
    }

    #suggest-scroll-area {
        display: inline-flex;
    }

    .suggest-box {
        margin: var(--paddingSpace) 0;
    }

    .mini-profile-box {
        width: 100%;
    }

    .post-box {
        margin-left: 3.5em;
        height: 34em;
    }
}

/*PROFILEPAGE CSS*/
/*align items to center of page*/
#profile-body-content {
    margin: auto var(--whiteSpace);
    padding-right: 4em;
    justify-content: center;
}
/*inline-flex all items in the profile information page*/
#profile-info {
   display: inline-flex;
   margin-bottom: var(--paddingSpace);
   justify-content: space-around;
}

/*Make profile image circular*/
.profile-image img {
    border: var(--border);
    border-radius: 100em;
    height: 10em;
    width: 10em;
    margin: 0.5em;
    transition: width 0.5s, height 0.5s;
}

/*align friends list text to center, space out important buttons on far left*/
.profile-item, .profile-item h4 {
    margin: auto;
    text-align: center;
}

#make-post h2 {
    padding: 0.2em 1em;
    margin: 1em;
}

/*when screen width <48em, display the profile information as blocked, and reduce grid width to 3 pictures per row*/
@media only screen and (max-width: 48em) {
    .profile-image {
        padding-bottom: 1em;
    }

    .profile-image img {
        height: 5em;
        width: 5em;
        border: var(--lightGray) solid 0.1em;
    }

    #profile-info {
        display: block;
    }

    #profile-posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5em;
    }
}

/* EXPLOREPAGE BODY CSS */
/*align content in explore page to center*/
#explore-body-content {
    margin: auto var(--whiteSpace);
    justify-content: center;
    padding-right: 4em;
}

/*limit the height of the image library in the explore page to 45em*/
#explore-body-content .image-library {
    height: 45em;
}

/*any image classed "big pic" will span two grid columns.*/
.big-pic {
    grid-column: span 2;
}

/*Search bar & search icon formatting*/
.search-icon {
    margin: 1em;
}

#search-bar .content-item {
    padding: 1em;
}

#search-bar {  
    display: inline-flex;
    width: 100%;
    margin-bottom: 2em;
}

.fa-magnifying-glass {
    color: var(--iconColor)
}

/*when screen size is < 60em, big pictures will only span 1 column 
and grids will only be 3 columns wide.*/
@media only screen and (max-width: 60em) {
    .big-pic {
        grid-column: span 1;
    }

    .image-library {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5em;
    }
}

/*when screen width < 40em, the grid library will only be 2 columns wide*/
@media only screen and (max-width: 40em) {
    .big-pic {
        grid-column: span 1;
    }

    .image-library {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;
    }
}

/* MODALS */
/*hide modal unless it's clicked on*/
.modal {
    display: none; 
    position: fixed; 
    padding-top: 7em; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7);
}

/*format modal image*/
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    height: 80%;
    max-width: 40em;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*animate modal to zoon*/
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*position & color close button*/
.close {
    position: absolute;
    top: 1.5em;
    right: 1em;
    color: var(--importantButton);
    font-size: 2.5em;
    font-weight: bold;
    transition: 0.1s;
}

.close:hover, .close:focus {
    color: var(--importantButtonHover);
    text-decoration: none;
    cursor: pointer;
}

/*FOOTER*/
footer {
    padding: 1em 1em;
    margin-top: 3em;
    box-shadow: var(--boxShading);
}

#sources {
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
}

#sources h3 {
    padding: 0.2em 0;
}

footer p {
    font-size: 0.8em;
}

#rights-reserved {
    text-align: center;
}
